@page
@model OliveBranch.Web.Pages.Customer.AboutModel
@{
}
<div>
    
        <h1>About Us</h1>

        <p>Welcome to The Olive Branch, where the rich flavors of the Mediterranean come alive in every dish. Nestled in the heart of Birmingham,AL, our restaurant is a culinary haven for those seeking an authentic taste of the Mediterranean.</p>

        <h2>Our Story</h2>

    The Olive Branch was born out of a passion for the vibrant and diverse cuisine of the Mediterranean region. Our founder, Logan Tolbert, has traveled extensively through Greece, Italy, Spain, and Turkey, gathering inspiration and recipes from local chefs and home cooks. Their dream was to bring the essence of these culinary traditions to Birmingham,AL, and thus, The Olive Branch was established.</p>

        <h3>Our Philosophy</h3>

    At The Olive Branch, we believe that food is more than just sustenance; it’s an experience. Our philosophy is rooted in the use of fresh, high-quality ingredients, traditional cooking methods, and a commitment to sustainability. We source our produce from local farmers and our seafood from sustainable fisheries, ensuring that every meal is not only delicious but also ethically prepared.</p>

    <h3>Our Menu</h3>

    Our menu is a celebration of Mediterranean cuisine, featuring a wide array of dishes that cater to all tastes and dietary preferences. From the savory flavors of Greek moussaka and Italian pasta to the aromatic spices of Moroccan tagine and Turkish kebabs, there’s something for everyone at The Olive Branch. We also offer a variety of vegetarian, vegan, and gluten-free options, so every guest can enjoy a meal that suits their needs.</p>

       <h3>Our Ambiance</h3>

    Step into The Olive Branch and be transported to a coastal paradise. Our restaurant’s warm and inviting atmosphere is designed to reflect the charm and beauty of the Mediterranean. With rustic decor, soft lighting, and a friendly staff, we strive to create a dining experience that feels like a getaway.</p>

        <h3>Join Us</h3>

    <p>Whether you’re celebrating a special occasion, enjoying a meal with family and friends, or simply looking to indulge in the flavors of the Mediterranean, we invite you to join us at The Olive Branch. Come and experience the warmth, hospitality, and culinary excellence that define our restaurant.</p>
    
</div>