*,
*::before,
*::after{
    box-sizing:border-box;
}

html {
  font-size: 16px;
}

body{
    overflow:hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


footer{
   display: none;
}



